<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Update</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container mt-5">
        <div>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Profile</th>
                </tr>
            </thead>
            <tbody>
                <form action="/editprofile/<%= id %>" method="post">
                <div class="form-group">
                <tr><th>
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" name="full_name" value="<%= full_name %>" autocomplete="off"> 
                </th></tr>
                <tr><th>
                    <label for="name">Display Name</label>
                    <input type="text" class="form-control" name="display_name" value="<%= display_name %>" autocomplete="off"> 
                </th></tr>
                <tr><th>
                    <label for="name">Birthday</label>
                    <input type="date" class="form-control" name="birthday" value="<%= birthday.date %>" autocomplete="off"> 
                </th></tr>
                <tr><th>
                    <label for="name">Email Address</label>
                    <input type="email" class="form-control" name="email_address" value="<%= email_address %>" autocomplete="off"> 
                </th></tr>
                <tr><th>
                    <label for="name">Profile Image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="input-img">
                        <label class="custom-file-label" for="inputGroupFile01" id="media">Media</label>
                    </div>
                    <!-- <input type="file" class="form-control" name="uploaded_image" autocomplete="off" accept="">  -->
                </th></tr>
                <tr><th style="text-align:right">
                    <input type="submit" class="btn btn-info" value="Update"/>
                </th></tr>
                </div>

            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#input-img").change(function(){
            let input = this;
            if (input.files && input.files[0]) {
                var fileTypes = ['jpg', 'jpeg', 'png', 'gif'];

                var extension = input.files[0].name.split('.').pop().toLowerCase();  
                var isSuccess = fileTypes.indexOf(extension) > -1;  

                if (isSuccess) { //yes
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#input-img-preview').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                    $("#media").html(input.files[0].name)
                }else{
                    alert("File types of jpg, jpeg, png and gif are only supported ")
                }


            }
        });
    });
</script>
</html>