<!DOCTYPE html>
<html lang="en">
<head>
    <title>Journal Entry</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container mt-5">
        <div class="card"> 
        <div class="card-header card bg-info text-white">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Journal Entry</a>
                </li>
                <li class="nav-pill ml-auto">
                    <h6>Date created: <%= create%></h6>
                    <h6>Updated on: <%= update%></h6>
                </li>
            </ul>
        </div>
    <div class="card-body">
        


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title: <%= title%></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <p>Description</p>
                        <p><%= description%></p>
                    </th>
                </tr>
            </tbody>
            
        </table>

        </div>
    </div>
    <div align="right" style="margin-top:20px"><a class="btn btn-primary edit" href="../journalupdate/<%=id%>">Edit</a></div>

    </div>
</div>
</body>
</html>